<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <title>Pizzeria</title>
</head>

<body>
    <header>
        <!-- <div th:replace="~{fragments :: navbar}"></div> -->
    </header>
    <main class="container">
        <div class="row">
            <div class="col-4">
                <h1>Ingredienti</h1>
            </div>
            <div class="col-4 mt-3">
                <a th:href="@{/pizzas}" class="btn btn-primary">Torna alla lista</a>
            </div>
            <div class="col-4 mt-1">
                <a th:href="@{/ingredienti/create}" class="btn btn-primary mt-3">Crea un nuovo ingrediente</a>
            </div>
        </div>
        <section class="row">
            <div class="col-12">
                <table class="table" th:if="${ingredienti.size() > 0}">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Pizze Collegate</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ingrediente : ${ingredienti}" th:object="${ingrediente}">
                            <td th:text="*{id}"></td>
                            <td th:text="*{nome}"></td>
                            <td th:text="*{pizze.size()}"></td>
                            <td>
                                <a th:href="@{/ingredienti/{id}(id=*{id})}" class="btn btn-success">Dettagli</a>
                            </td>
                            <td>
                                <a th:href="@{/ingredienti/edit/{id}(id=*{id})}"
                                    class="btn btn-warning">Aggiorna</a>
                            </td>
                            <td>
                                <!-- Bottone visibile per aprire la modale -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:attr="data-bs-target='#delete-modal-' + ${ingrediente.id}">
                                    Delete
                                </button>

                                <!-- Modal per la conferma della cancellazione -->
                                <div class="modal fade" th:id="'delete-modal-' + ${ingrediente.id}" tabindex="-1"
                                    aria-labelledby="delete-modal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                    Deleting [[${ingrediente.nome}]]
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Sei sicuro di voler eliminare la ingrediente
                                                <strong>[[${ingrediente.nome}]]</strong>?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <form class="d-inline-block"
                                                    th:action="@{/ingredienti/delete/{id}(id=${ingrediente.id})}"
                                                    method="post">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <p th:unless="${ingredienti.size() > 0}" class="alert alert-warning">
                    Non ci sono ingredienti disponibili.
            </div>
        </section>
        <div th:replace="~{fragments :: footer}"></div>
    </main>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>