<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <title>Document</title>
</head>

<body>
    <header>
        <!-- <div th:replace="~{fragments :: navbar}"></div> -->
    </header>
    <main class="container">
        <h1>La Mia Pizzeria</h1>
        <section class="row">
            <div class="col-12">
                <table class="table" th:if="${pizzas.size() > 0}">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Immagine</th>
                            <th scope="col">Prezzo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
                            <td th:text="*{id}"></td>
                            <td th:text="*{nome}"></td>
                            <td>
                                <img th:src="*{immagine}" alt="Immagine pizza" class="img-fluid"
                                    style="max-width: 150px;" />
                            </td>
                            <td th:text="*{prezzo}"></td>
                        </tr>
                    </tbody>
                </table>
                <p th:unless="${pizzas.size() > 0}" class="alert alert-warning">
                    Non ci sono pizze disponibili.
            </div>
        </section>
    </main>
</body>

</html>