<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <title>Pizzeria</title>
</head>

<body>
    <header>
        <!-- <div th:replace="~{fragments :: navbar}"></div> -->
    </header>
    <main class="container">
        <div class="row">
            <div class="col-4">
                <h1>La Mia Pizzeria</h1>
            </div>
            <form class="col-4 mt-3" th:action="@{/pizzas}" method="get">
                <input type="text" name="ricerca" th:value="${ricerca}" placeholder="Cerca per nome..." />
                <button type="submit">Cerca</button>
            </form>
            <div class="col-4 mt-1">
                <a th:href="@{/pizzas/create}" class="btn btn-primary mt-3">Crea una nuova pizza</a>
            </div>
        </div>
        <section class="row">
            <div class="col-12">
                <table class="table" th:if="${pizzas.size() > 0}">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Immagine</th>
                            <th scope="col">Prezzo</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
                            <td th:text="*{id}"></td>
                            <td th:text="*{nome}"></td>
                            <td>
                                <img th:src="*{immagine}" alt="Immagine pizza" class="img-fluid"
                                    style="max-width: 150px;" />
                            </td>

                            <td><span th:text="*{prezzo}"> </span> €</td>
                            <td>
                                <a th:href="@{/pizzas/{id}/scontiPizza(id=*{id})}" class="btn btn-outline-primary">Sconti</a>
                            </td>
                            <td>
                                <a th:href="@{/pizzas/{id}(id=*{id})}" class="btn btn-success">Dettagli</a>
                            </td>
                            <td>
                                <a th:href="@{/pizzas/edit/{id}(id=*{id})}" class="btn btn-warning">Aggiorna</a>
                            </td>
                            <td>
                                <!-- Bottone visibile per aprire la modale -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:attr="data-bs-target='#delete-modal-' + ${pizza.id}">
                                    Delete
                                </button>

                                <!-- Modal per la conferma della cancellazione -->
                                <div class="modal fade" th:id="'delete-modal-' + ${pizza.id}" tabindex="-1"
                                    aria-labelledby="delete-modal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                    Deleting [[${pizza.nome}]]
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Sei sicuro di voler eliminare la pizza
                                                <strong>[[${pizza.nome}]]</strong>?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <form class="d-inline-block"
                                                    th:action="@{/pizzas/delete/{id}(id=${pizza.id})}" method="post">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <p th:unless="${pizzas.size() > 0}" class="alert alert-warning">
                    Non ci sono pizze disponibili.
            </div>
        </section>
        <div th:replace="~{fragments :: footer}"></div>
    </main>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>